.mui-bar-tab{
	height: 36px;
	.mui-tab-item{
		height: 36px;
		span{
			padding: 10px 75px;
		}
	}
}
.book-list{
	width: 100%;
	height: 587px;
	padding: 10px;
	li{
		padding: 15 15px;
		width: 115px;
		float: left;
		height: 189px;
		position: relative;
		h3{
			height: 110px;
			img{
				width: 100%;
			}
		}
		span{
			display: none;
			z-index: 9999999999;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: rgba($color: #000000, $alpha: 0.5);
			b{
				position: absolute;
				bottom: 0;
				display: inline-block;
				width: 100%;
				height: 40px;
				background: #ddd;
				text-align: center;
				line-height: 40px;
				z-index: 9999999999999999999999999;
				
			}
		}
	}
	
}
.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 1px;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    background-color: #c8c7cc;
}

.act{
	color: deepskyblue;
}