* {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%; }

.header {
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around; }
  .header h3 {
    margin: 10px 0;
    color: inherit;
    font-weight: normal;
    font-size: 21px; }
  .header p {
    font-size: 15px;
    color: black; }
  .header .btn {
    margin: 5px 0; }

.mui-slider-group {
  width: 100%;
  height: 100%; }
  .mui-slider-group .mui-slider-item {
    width: 100%;
    height: 100%; }
    .mui-slider-group .mui-slider-item img {
      width: 100%;
      height: 210px;
      margin-top: 44px; }

.yw-data {
  text-align: center;
  margin: 5px 0; }
  .yw-data .all {
    border: 1px solid greenyellow; }

.nav .nav-img {
  padding: 10px 15px;
  display: flex;
  border-bottom: 1px solid #ccc; }
  .nav .nav-img .right {
    margin: 15px 10px; }
    .nav .nav-img .right p {
      margin-bottom: 0;
      font-size: 12px; }
    .nav .nav-img .right p:last-child {
      margin-bottom: 0;
      height: 35px;
      font-size: 9px;
      margin-top: 0px;
      overflow: hidden; }
  .nav .nav-img img {
    width: 75px;
    height: 100px;
    margin-top: 18px; }
  .nav .nav-img h3 {
    font-size: 15px;
    font-weight: normal; }

#pullrefresh {
  margin-top: 300px;
  width: 100%;
  height: 368px; }

.active {
  background: palevioletred;
  color: #fff; }
