* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  background: #fff; }

.wrapper {
  background: #fff; }

.nav {
  margin: 0 5px; }
  .nav h4 {
    font-size: 25px;
    font-weight: normal; }

.mui-content {
  background: #fff; }

.header {
  padding: 20px 25px 10px 25px;
  display: flex;
  background: #fff; }
  .header .left img {
    width: 95px;
    height: 130px; }
  .header .right {
    width: 200px;
    margin: 0 15px;
    position: relative; }
    .header .right .yd {
      position: absolute;
      right: 0;
      top: 0; }
  .header h3 {
    font-size: 15px; }

.btn {
  text-align: center;
  background: #fff; }

.review {
  padding: 0 15px;
  background: #fff; }
  .review .review-nav {
    display: flex;
    justify-content: space-between; }
    .review .review-nav h3 {
      font-size: 15px; }

.rote {
  background: #fff;
  padding: 0 15px; }

.book {
  background: #fff; }
  .book dl {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 15px;
    border-bottom: 1px solid #ccc; }
    .book dl .book-left {
      margin: 5px 0; }
    .book dl .book-right {
      margin: 0 5px; }
      .book dl .book-right h4 {
        font-size: 15px; }

.login {
  padding: 0 15px;
  display: flex; }
  .login .btn {
    height: 40px;
    background: #ddd; }
